@charset "UTF-8";
/*init*/
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*lib*/
/**
 * define valiables
 * 各scssファイルでよく使う値を変数定義
 */
/**
 * easing
 */
@keyframes fadeI {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
@keyframes fadeO {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
/**
 * function
 * 値を返す
 */
/**
 * mixins
 * ブロックを返す
 */
/*
デバイス定義
 */
/*
font-sizeにremを設定
 */
/*
clearfix
 */
/*
iOS smooth scroll
 */
/*
auto add prefix
 */
/*
opacity
 */
/*
fade
 */
/*
background pattern
 */
/**
 * initiallize
 * タグ自体のstyleを記述
 */
/* line 8, ../scss/lib/_init.scss */
html {
  width: 100%;
  min-width: 100%;
  height: 100%;
  font-family: "Inconsolata", "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  font-size: 14px;
  line-height: 1.58;
  color: #464646;
  word-wrap: break-word;
}
/* line 17, ../scss/lib/_init.scss */
html.scroll {
  overflow-y: auto;
}

/* line 22, ../scss/lib/_init.scss */
body {
  width: 100%;
  height: 100%;
  background-color: #23283d;
  -webkit-text-size-adjust: 100%;
}

/* line 29, ../scss/lib/_init.scss */
a {
  text-decoration: underline;
  color: #01499d;
}
/* line 36, ../scss/lib/_init.scss */
a:hover {
  text-decoration: none;
}

/* line 41, ../scss/lib/_init.scss */
img {
  vertical-align: middle;
}

/* line 45, ../scss/lib/_init.scss */
strong {
  font-weight: bold;
}

/* line 49, ../scss/lib/_init.scss */
input {
  padding: 0;
  border: none;
  background: none;
}

/* line 55, ../scss/lib/_init.scss */
input[type=text],
input[type=tel],
input[type=password],
input[type=email],
input[type=search],
input[type=url],
input[type=datetime],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime-local],
input[type=number],
select,
textarea {
  padding: 6px;
  font-family: "微软雅黑", "宋体" ,sans-serif;
  background-color: #fff;
  border: solid 1px #c9c9c9;
  vertical-align: bottom;
}
/* line 75, ../scss/lib/_init.scss */
input[type=text]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=datetime]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=month]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder,
input[type=time]::-webkit-input-placeholder,
input[type=datetime-local]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #e2e2e2;
}
/* line 78, ../scss/lib/_init.scss */
input[type=text]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=datetime]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=month]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder,
input[type=time]:-ms-input-placeholder,
input[type=datetime-local]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #e2e2e2;
}
/* line 81, ../scss/lib/_init.scss */
input[type=text]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=datetime]::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=week]::-moz-placeholder,
input[type=time]::-moz-placeholder,
input[type=datetime-local]::-moz-placeholder,
input[type=number]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #e2e2e2;
}
/* line 84, ../scss/lib/_init.scss */
input[type=text]:focus,
input[type=tel]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=datetime]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime-local]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
  background-color: #eef4fb;
}

/* line 89, ../scss/lib/_init.scss */
input[type=radio],
input[type=checkbox] {
  margin: 0;
  vertical-align: -1px;
}

/* line 95, ../scss/lib/_init.scss */
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  font-family: "Inconsolata", "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  vertical-align: bottom;
}

/* line 103, ../scss/lib/_init.scss */
textarea {
  resize: vertical;
  vertical-align: bottom;
}

/* line 108, ../scss/lib/_init.scss */
em {
  font-style: italic;
}

/* line 112, ../scss/lib/_init.scss */
sup {
  font-size: 8px;
  font-size: 0.57143rem;
  vertical-align: super;
}
@media only screen and (min-width: 768px) {
  /* line 112, ../scss/lib/_init.scss */
  sup {
    font-size: 0.44444rem;
  }
}

/* line 117, ../scss/lib/_init.scss */
sub {
  font-size: 8px;
  font-size: 0.57143rem;
  vertical-align: sub;
}
@media only screen and (min-width: 768px) {
  /* line 117, ../scss/lib/_init.scss */
  sub {
    font-size: 0.44444rem;
  }
}

/* line 122, ../scss/lib/_init.scss */
blockquote {
  background-color: #EEEFFF;
  padding: 1em 1em 1em 3em;
  position: relative;
  border-left: 3px solid #666;
}

/* line 128, ../scss/lib/_init.scss */
blockquote:before {
  content: "“";
  font-size: 600%;
  line-height: 1em;
  color: #999;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 138, ../scss/lib/_init.scss */
::selection {
  background: #d4dcd6;
  /* Safari */
}

/* line 141, ../scss/lib/_init.scss */
::-moz-selection {
  background: #d4dcd6;
  /* Firefox */
}

/* line 144, ../scss/lib/_init.scss */
.pci {
  display: inline;
}
@media only screen and (max-width: 768px) {
  /* line 144, ../scss/lib/_init.scss */
  .pci {
    display: none;
  }
}

/* line 150, ../scss/lib/_init.scss */
.spi {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* line 150, ../scss/lib/_init.scss */
  .spi {
    display: inline;
  }
}

/* line 156, ../scss/lib/_init.scss */
.pc {
  display: block;
}
@media only screen and (max-width: 768px) {
  /* line 156, ../scss/lib/_init.scss */
  .pc {
    display: none;
  }
}

/* line 162, ../scss/lib/_init.scss */
.sp {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* line 162, ../scss/lib/_init.scss */
  .sp {
    display: block;
  }
}

/* line 3, ../scss/lib/_util.scss */
.cr {
  cursor: default;
}

/* line 7, ../scss/lib/_util.scss */
.fade {
  -moz-transition: opacity 0.1s ease-in-out 0s;
  -o-transition: opacity 0.1s ease-in-out 0s;
  -webkit-transition: opacity 0.1s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.1s ease-in-out 0s;
}
/* line 93, ../scss/lib/_mixin.scss */
.fade:hover {
  opacity: 0.7;
}

/* line 10, ../scss/lib/_util.scss */
.bgcolor_none {
  background-color: transparent !important;
}

/* line 13, ../scss/lib/_util.scss */
.no_breadcrumbsIcon:after {
  content: "" !important;
  display: inline-block;
  margin: 0 5px;
}

/* line 18, ../scss/lib/_util.scss */
.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* IE6 */
/* line 27, ../scss/lib/_util.scss */
* html .cf {
  zoom: 1;
}

/* IE7 */
/* line 29, ../scss/lib/_util.scss */
*:first-child + html .cf {
  zoom: 1;
}

/* line 31, ../scss/lib/_util.scss */
.alignR {
  text-align: right;
}

/* line 34, ../scss/lib/_util.scss */
.alignC {
  text-align: center;
}

/* line 37, ../scss/lib/_util.scss */
.alignL {
  text-align: left;
}

/* line 45, ../scss/lib/_util.scss */
.noBorder {
  border: none !important;
}

/*parts*/
/*
TOPグリーン系のボタン
aにクラスを振る。
親要素の横幅に依存
*/
/* line 9, ../scss/parts/_btns.scss */
.btn_typeA {
  display: inline-block;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  background: #bbe0dd;
  color: #23283d !important;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.2em;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  /* line 9, ../scss/parts/_btns.scss */
  .btn_typeA {
    padding: 8px 0;
    font-size: 16px;
  }
}
/* line 26, ../scss/parts/_btns.scss */
.btn_typeA:hover {
  color: #bbe0dd !important;
  background: #23283d;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 34, ../scss/parts/_btns.scss */
.about-btn .btn_typeA:hover {
  background: #FFF;
  color: #23283d !important;
}

/*elements*/
/* line 1, ../scss/element/_footer.scss */
footer {
  background: #23283d;
  padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../scss/element/_footer.scss */
  footer {
    background: #FFF;
    padding-bottom: 0px;
  }
}
/* line 9, ../scss/element/_footer.scss */
footer a {
  color: #bbe0dd;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  /* line 9, ../scss/element/_footer.scss */
  footer a {
    color: #23283d;
  }
}
/* line 17, ../scss/element/_footer.scss */
footer .footer-inner {
  zoom: 1;
  padding-top: 100px;
}
/* line 50, ../scss/lib/_mixin.scss */
footer .footer-inner:before, footer .footer-inner:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
/* line 58, ../scss/lib/_mixin.scss */
footer .footer-inner:after {
  clear: both;
}
@media only screen and (max-width: 768px) {
  /* line 17, ../scss/element/_footer.scss */
  footer .footer-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/* line 24, ../scss/element/_footer.scss */
footer .footer-inner .footer-left {
  float: left;
  margin-left: 5%;
  padding-left: 5%;
  background: url(../img/footer_logo.png) no-repeat top left;
  background-size: 29px;
}
/* line 31, ../scss/element/_footer.scss */
footer .footer-inner .footer-left .footer-nav li {
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.3ex;
}
/* line 37, ../scss/element/_footer.scss */
footer .footer-inner .footer-left .footer-copy {
  color: #bbe0dd;
  font-size: 14px;
  line-height: 34px;
  margin-top: 40px;
}
/* line 45, ../scss/element/_footer.scss */
footer .footer-inner .footer-right {
  float: right;
  margin-right: 10%;
}
/* line 49, ../scss/element/_footer.scss */
footer .footer-inner .footer-right .sns-list li {
  display: inline-block;
  margin-right: 10px;
}
/* line 56, ../scss/element/_footer.scss */
footer .footer-inner .footer-right .footer-info {
  margin-top: 30px;
}
/* line 58, ../scss/element/_footer.scss */
footer .footer-inner .footer-right .footer-info li {
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.3ex;
}
/* line 65, ../scss/element/_footer.scss */
footer .footer-inner .sp-sns-list {
  text-align: center;
}
/* line 67, ../scss/element/_footer.scss */
footer .footer-inner .sp-sns-list li {
  display: inline-block;
  margin: 0 2%;
  width: 10%;
}
/* line 74, ../scss/element/_footer.scss */
footer .footer-inner .sp-footer-info {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
/* line 78, ../scss/element/_footer.scss */
footer .footer-inner .sp-footer-info li {
  display: inline-block;
  margin: 0 2%;
  font-size: 15px;
  letter-spacing: 0.1em;
}
/* line 83, ../scss/element/_footer.scss */
footer .footer-inner .sp-footer-info li.footer-mail {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 18px;
}
/* line 92, ../scss/element/_footer.scss */
footer .footer-inner .sp-footer-logo {
  width: 30%;
  margin: 0 auto;
}
/* line 96, ../scss/element/_footer.scss */
footer .footer-inner .sp-footer-copy {
  text-align: center;
  color: #23283d;
}

/* line 1, ../scss/element/_header.scss */
.loadingLay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #23283d;
  z-index: 10000;
}
/* line 9, ../scss/element/_header.scss */
.loadingLay .loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -30px;
}

/* line 17, ../scss/element/_header.scss */
.loading-img {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #bbe0dd;
  background: -moz-linear-gradient(left, #bbe0dd 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #bbe0dd 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #bbe0dd 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #bbe0dd 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #bbe0dd 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 37, ../scss/element/_header.scss */
.loading-img:before {
  width: 50%;
  height: 50%;
  background: #bbe0dd;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

/* line 47, ../scss/element/_header.scss */
.loading-img:after {
  background: #23283d;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 80, ../scss/element/_header.scss */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  background: #23283d;
  color: #bbe0dd;
  font-size: 16px;
  line-height: 38px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
  /* line 80, ../scss/element/_header.scss */
  header {
    font-size: 18px;
    line-height: 26px;
  }
}
/* line 94, ../scss/element/_header.scss */
header.hide {
  top: -200px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 98, ../scss/element/_header.scss */
header .header-inner {
  padding: 15px 40px;
  zoom: 1;
}
/* line 50, ../scss/lib/_mixin.scss */
header .header-inner:before, header .header-inner:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
/* line 58, ../scss/lib/_mixin.scss */
header .header-inner:after {
  clear: both;
}
@media only screen and (max-width: 768px) {
  /* line 98, ../scss/element/_header.scss */
  header .header-inner {
    padding: 12px 0% 4px;
    max-width: 640px;
    margin: 0.6% auto;
  }
}
/* line 106, ../scss/element/_header.scss */
header .header-inner a {
  color: #bbe0dd;
  text-decoration: none;
  letter-spacing: 0.3ex;
}
/* line 112, ../scss/element/_header.scss */
header .header-inner .header-logo {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  /* line 112, ../scss/element/_header.scss */
  header .header-inner .header-logo {
    display: block;
    width: 9%;
    margin: 0.6% 3% 0 6%;
    float: left;
  }
}
/* line 123, ../scss/element/_header.scss */
header .header-inner .header-langage {
  float: right;
  display: inline-block;
}
/* line 127, ../scss/element/_header.scss */
header .header-inner .header-nav {
  position: absolute;
  margin-right: 5%;
  top: 15px;
  left: 50%;
  margin-left: 13px;
}
@media only screen and (max-width: 768px) {
  /* line 127, ../scss/element/_header.scss */
  header .header-inner .header-nav {
    position: relative;
    float: left;
    top: auto;
    left: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: -6px;
    width: 79%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 143, ../scss/element/_header.scss */
  header .header-inner .header-nav .nav-list {
    text-align: center;
  }
}
/* line 147, ../scss/element/_header.scss */
header .header-inner .header-nav .nav-list li {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}
@media only screen and (max-width: 768px) {
  /* line 147, ../scss/element/_header.scss */
  header .header-inner .header-nav .nav-list li {
    margin: 0 0%;
    width: 16%;
  }
}
/* line 155, ../scss/element/_header.scss */
header .header-inner .header-nav .nav-list li.current {
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  /* line 158, ../scss/element/_header.scss */
  header .header-inner .header-nav .nav-list li.navpc {
    display: none;
  }
}
/* line 168, ../scss/element/_header.scss */
header .sp-header-bottom {
  position: fixed;
  bottom: 0;
  width: 90%;
  padding: 5px 5%;
  background: #23283d;
  zoom: 1;
}
/* line 50, ../scss/lib/_mixin.scss */
header .sp-header-bottom:before, header .sp-header-bottom:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
/* line 58, ../scss/lib/_mixin.scss */
header .sp-header-bottom:after {
  clear: both;
}
/* line 175, ../scss/element/_header.scss */
header .sp-header-bottom .bottom-nav-list {
  float: left;
  text-align: left;
  width: 60%;
  line-height: 32px;
}
/* line 180, ../scss/element/_header.scss */
header .sp-header-bottom .bottom-nav-list li {
  display: inline-block;
  margin: 0 1%;
}
/* line 183, ../scss/element/_header.scss */
header .sp-header-bottom .bottom-nav-list li a {
  text-decoration: none;
  color: #badfdc;
  letter-spacing: 0.3ex;
}
/* line 190, ../scss/element/_header.scss */
header .sp-header-bottom .bottom-sns-list {
  float: right;
  text-align: right;
  width: 40%;
  margin-top: -1%;
}
/* line 195, ../scss/element/_header.scss */
header .sp-header-bottom .bottom-sns-list li {
  display: inline-block;
  width: 25%;
}

/* line 1, ../scss/element/_feature.scss */
.feature {
  margin-top: 100px;
}
@media only screen and (max-width: 768px) {
  /* line 1, ../scss/element/_feature.scss */
  .feature {
    padding-bottom: 10px;
  }
}
/* line 6, ../scss/element/_feature.scss */
.feature .feature-lay {
  position: relative;
}
/* line 8, ../scss/element/_feature.scss */
.feature .feature-lay:before {
  content: "FEATURE";
  position: absolute;
  top: -5px;
  left: 50%;
  color: #23283d;
  font-size: 15px;
  background: url(../img/feature.png) no-repeat center bottom;
  background-size: cover;
  width: 200px;
  height: 80px;
  margin-left: -98px;
  text-align: center;
  z-index: 3;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  /* line 8, ../scss/element/_feature.scss */
  .feature .feature-lay:before {
    top: -5px;
    width: 140px;
    height: 52px;
    margin-left: -70px;
    background-size: cover;
    letter-spacing: 0.1em;
  }
}
/* line 37, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list {
  zoom: 1;
}
/* line 50, ../scss/lib/_mixin.scss */
.feature .feature-lay .feature-list:before, .feature .feature-lay .feature-list:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
/* line 58, ../scss/lib/_mixin.scss */
.feature .feature-lay .feature-list:after {
  clear: both;
}
/* line 39, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li {
  position: relative;
  float: left;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 39, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li {
    float: none;
    width: auto;
  }
}
/* line 47, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li img {
  width: 100%;
}
/* line 50, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li a.pc-link {
  display: block;
  position: relative;
  height: 100%;
  z-index: 1;
  background-size: cover;
  padding-top: 54.48%;
  background-position: center center;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media only screen and (max-width: 768px) {
  /* line 50, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li a.pc-link {
    padding-top: 40%;
  }
}
/* line 62, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li a.pc-link.thumb-hover {
  background-color: #23283d;
  background-blend-mode: multiply;
}
@media only screen and (max-width: 768px) {
  /* line 62, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li a.pc-link.thumb-hover {
    background-color: none;
    background-blend-mode: normal;
  }
}
/* line 72, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li:hover .feature-text {
  display: block;
}
@media only screen and (max-width: 768px) {
  /* line 72, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li:hover .feature-text {
    display: block;
  }
}
/* line 82, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li .feature-text {
  position: absolute;
  bottom: 10%;
  left: 7%;
  color: #bbe0dd;
  z-index: 2;
  display: none;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 768px) {
  /* line 82, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li .feature-text {
    position: relative;
    display: block;
    bottom: auto;
    left: auto;
    padding-left: 5%;
    padding-bottom: 30px;
  }
}
/* line 98, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li .feature-text a {
  text-decoration: none;
  color: #bbe0dd;
}
/* line 102, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li .feature-text .ttl {
  font-size: 17px;
  line-height: 31px;
  font-weight: bold;
}
/* line 107, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li .feature-text .feature-ttl {
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  /* line 107, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li .feature-text .feature-ttl {
    font-size: 22px !important;
    font-weight: bold;
    margin-top: 20px;
  }
}
/* line 116, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li .feature-text .feature-cat {
  font-size: 25px;
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  /* line 116, ../scss/element/_feature.scss */
  .feature .feature-lay .feature-list li .feature-text .feature-cat {
    font-size: 16px !important;
    font-weight: normal;
    margin-top: 0px !important;
    letter-spacing: 0.1em;
  }
}
/* line 126, ../scss/element/_feature.scss */
.feature .feature-lay .feature-list li .feature-text .read-more {
  background: url(../img/read-more-2.png) no-repeat left center;
  background-size: 20px;
  margin-top: 10px;
  padding-left: 25px;
}

@media only screen and (max-width: 768px) {
  /* line 17, ../scss/_common.scss */
  img {
    width: 100%;
  }
}

/* line 4, ../scss/top.scss */
.top-movie {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
/* line 10, ../scss/top.scss */
.top-movie .top-movie-wrap {
  background: url(../img/top_main_ph.jpg) no-repeat center center;
  background-size: contain;
}
/* line 14, ../scss/top.scss */
.top-movie .top-movie-wrap #video {
  width: 100%;
}

/* line 19, ../scss/top.scss */
.sp-top-vis {
  padding-top: 0px;
}

/* line 22, ../scss/top.scss */
.top-about {
  padding-bottom: 100px;
  background: #23283d;
}
@media only screen and (max-width: 768px) {
  /* line 22, ../scss/top.scss */
  .top-about {
    padding-bottom: 40px;
  }
}
/* line 28, ../scss/top.scss */
.top-about h1 {
  text-align: center;
  font-size: 20px;
  line-height: 41px;
  color: #FFF;
  padding: 100px 0 60px;
}
@media only screen and (max-width: 768px) {
  /* line 28, ../scss/top.scss */
  .top-about h1 {
    padding: 40px 0 30px 5%;
    font-size: 14px;
    text-align: left;
    line-height: 1.8;
    font-weight: bold;
  }
}
/* line 42, ../scss/top.scss */
.top-about .about-btn {
  width: 20em;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  /* line 42, ../scss/top.scss */
  .top-about .about-btn {
    width: 90%;
  }
}

/* line 50, ../scss/top.scss */
.top-layout {
  position: relative;
  /*　SP　コンテンツ別　*/
}
@media only screen and (max-width: 768px) {
  /* line 50, ../scss/top.scss */
  .top-layout {
    padding-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 56, ../scss/top.scss */
  .top-layout.news {
    background: #FFF;
  }
}
@media only screen and (max-width: 768px) {
  /* line 60, ../scss/top.scss */
  .top-layout.news .layout-text {
    color: #23283d !important;
    text-decoration: none !important;
  }
}
/* line 66, ../scss/top.scss */
.top-layout.news .read-more {
  background: url(../img/read-more-1.png) no-repeat left center;
  background-size: 20px;
}
@media only screen and (max-width: 768px) {
  /* line 71, ../scss/top.scss */
  .top-layout.news .layout-btn a {
    color: #bbe0dd !important;
    background: #23283d;
  }
}
/* line 78, ../scss/top.scss */
.top-layout.news a {
  color: #bbe0dd;
}
@media only screen and (max-width: 768px) {
  /* line 78, ../scss/top.scss */
  .top-layout.news a {
    text-decoration: none !important;
    color: #23283d;
  }
}
@media only screen and (max-width: 768px) {
  /* line 86, ../scss/top.scss */
  .top-layout.project {
    background: #23283d;
  }
}
@media only screen and (max-width: 768px) {
  /* line 91, ../scss/top.scss */
  .top-layout.project .top-layout-upper {
    background: #23283d;
  }
}
@media only screen and (max-width: 768px) {
  /* line 95, ../scss/top.scss */
  .top-layout.project .top-layout-upper .text-area {
    color: #bbe0dd !important;
  }
}
@media only screen and (max-width: 768px) {
  /* line 102, ../scss/top.scss */
  .top-layout.project .layout-text {
    color: #bbe0dd !important;
    text-decoration: none !important;
  }
}
/* line 107, ../scss/top.scss */
.top-layout.project .layout-text .project-ttl {
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  /* line 107, ../scss/top.scss */
  .top-layout.project .layout-text .project-ttl {
    font-size: 22px !important;
    font-weight: bold;
    margin-top: 20px;
  }
}
/* line 115, ../scss/top.scss */
.top-layout.project .layout-text .project-cat {
  font-size: 25px;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  /* line 115, ../scss/top.scss */
  .top-layout.project .layout-text .project-cat {
    font-size: 16px !important;
    font-weight: normal;
    margin-top: 0px !important;
  }
}
/* line 125, ../scss/top.scss */
.top-layout.project .read-more {
  background: url(../img/read-more-2.png) no-repeat left center;
  background-size: 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  /* line 131, ../scss/top.scss */
  .top-layout.project .layout-btn a {
    color: #23283d !important;
    background: #bbe0dd;
  }
}
/* line 138, ../scss/top.scss */
.top-layout.project a {
  color: #bbe0dd;
}
@media only screen and (max-width: 768px) {
  /* line 138, ../scss/top.scss */
  .top-layout.project a {
    text-decoration: none !important;
    color: #bbe0dd;
  }
}
@media only screen and (max-width: 768px) {
  /* line 146, ../scss/top.scss */
  .top-layout.amplog {
    background: #bbe0dd;
  }
}
@media only screen and (max-width: 768px) {
  /* line 151, ../scss/top.scss */
  .top-layout.amplog .top-layout-upper {
    background: #bbe0dd;
  }
}
/* line 155, ../scss/top.scss */
.top-layout.amplog .top-layout-upper .text-area {
  color: #23283d !important;
}
@media only screen and (max-width: 768px) {
  /* line 159, ../scss/top.scss */
  .top-layout.amplog .layout-text {
    color: #23283d !important;
    text-decoration: none !important;
  }
}
/* line 164, ../scss/top.scss */
.top-layout.amplog .layout-text .project-ttl {
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  /* line 164, ../scss/top.scss */
  .top-layout.amplog .layout-text .project-ttl {
    font-size: 14px !important;
    font-weight: bold;
    margin-top: 20px;
  }
}
/* line 177, ../scss/top.scss */
.top-layout.amplog .layout-text .project-cat {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 177, ../scss/top.scss */
  .top-layout.amplog .layout-text .project-cat {
    font-size: 16px !important;
    font-weight: normal;
    margin-top: 0px !important;
  }
}
/* line 186, ../scss/top.scss */
.top-layout.amplog .read-more {
  background: url(../img/read-more-3.png) no-repeat left center;
  background-size: 20px;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  /* line 192, ../scss/top.scss */
  .top-layout.amplog .layout-btn a {
    color: #bbe0dd !important;
    background: #23283d;
  }
}
/* line 199, ../scss/top.scss */
.top-layout.amplog a {
  color: #bbe0dd;
}
@media only screen and (max-width: 768px) {
  /* line 199, ../scss/top.scss */
  .top-layout.amplog a {
    text-decoration: none !important;
    color: #23283d;
  }
}
@media only screen and (max-width: 768px) {
  /* line 207, ../scss/top.scss */
  .top-layout.contact {
    padding-bottom: 10px;
    background: #FFF;
  }
}
/* line 212, ../scss/top.scss */
.top-layout.contact .adress {
  margin-top: 5px;
}
/* line 213, ../scss/top.scss */
.top-layout.contact .adress.list1 {
  margin-top: 35px;
}
/* line 216, ../scss/top.scss */
.top-layout.contact .adress.bottom-list {
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
  /* line 216, ../scss/top.scss */
  .top-layout.contact .adress.bottom-list {
    margin-bottom: 30px;
  }
}
/* line 223, ../scss/top.scss */
.top-layout.contact .adress dt {
  display: inline-block;
  width: 130px;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  /* line 223, ../scss/top.scss */
  .top-layout.contact .adress dt {
    display: block;
    width: auto;
    font-weight: bold;
    letter-spacing: 3px;
  }
}
/* line 236, ../scss/top.scss */
.top-layout.contact .adress dd {
  display: inline-block;
  width: 230px;
  margin-left: 60px;
  vertical-align: top;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  /* line 236, ../scss/top.scss */
  .top-layout.contact .adress dd {
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    width: auto;
    margin-left: 0px;
    font-size: 16px;
  }
}
/* line 250, ../scss/top.scss */
.top-layout.contact .adress dd a {
  color: #23283d;
}
/* line 257, ../scss/top.scss */
.top-layout .top-layout-upper {
  background: #FFF;
  padding: 100px 0 70px;
}
@media only screen and (max-width: 768px) {
  /* line 257, ../scss/top.scss */
  .top-layout .top-layout-upper {
    padding: 0px 5% 20px;
  }
}
/* line 263, ../scss/top.scss */
.top-layout .top-layout-upper .text-area {
  margin-left: 50%;
  padding-left: 22px;
  color: #23283d;
}
@media only screen and (max-width: 768px) {
  /* line 263, ../scss/top.scss */
  .top-layout .top-layout-upper .text-area {
    margin-left: 0%;
    padding-left: 0;
  }
}
/* line 271, ../scss/top.scss */
.top-layout .top-layout-upper .text-area h2 {
  font-size: 31px;
  line-height: 71px;
  letter-spacing: 0.1em;
  font-weight: bold;
}
@media only screen and (max-width: 768px) {
  /* line 271, ../scss/top.scss */
  .top-layout .top-layout-upper .text-area h2 {
    padding-top: 28px;
  }
}
/* line 281, ../scss/top.scss */
.top-layout .top-layout-upper .text-area p {
  font-size: 18px;
  line-height: 38px;
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  /* line 281, ../scss/top.scss */
  .top-layout .top-layout-upper .text-area p {
    margin-top: 0px;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}
/* line 293, ../scss/top.scss */
.top-layout .top-layout-upper .text-area .contact-info {
  font-size: 18px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 293, ../scss/top.scss */
  .top-layout .top-layout-upper .text-area .contact-info {
    margin-top: 10px;
  }
}
/* line 299, ../scss/top.scss */
.top-layout .top-layout-upper .text-area .contact-info li {
  vertical-align: top;
  display: inline-block;
  margin-right: 40px;
}
/* line 303, ../scss/top.scss */
.top-layout .top-layout-upper .text-area .contact-info li p {
  font-size: 16px;
  margin-top: 0;
  letter-spacing: initial;
}
/* line 308, ../scss/top.scss */
.top-layout .top-layout-upper .text-area .contact-info li a {
  color: #23283d;
  text-decoration: none;
}
/* line 317, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list {
  zoom: 1;
}
/* line 50, ../scss/lib/_mixin.scss */
.top-layout .top-layout-bottom .top-layout-list:before, .top-layout .top-layout-bottom .top-layout-list:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
/* line 58, ../scss/lib/_mixin.scss */
.top-layout .top-layout-bottom .top-layout-list:after {
  clear: both;
}
/* line 319, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li {
  position: relative;
  float: left;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 319, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li {
    float: none;
    width: 100%;
  }
}
/* line 327, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li img {
  width: 100%;
}
/* line 331, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li a.pc-link {
  display: block;
  position: relative;
  height: 100%;
  z-index: 1;
  background-size: cover;
  padding-top: 54.48%;
  background-position: center center;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 340, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li a.pc-link.thumb-hover {
  background-color: #23283d;
  background-blend-mode: multiply;
}
@media only screen and (max-width: 768px) {
  /* line 340, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li a.pc-link.thumb-hover {
    background-color: none;
    background-blend-mode: normal;
  }
}
/* line 350, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li:hover .layout-text {
  display: block;
}
@media only screen and (max-width: 768px) {
  /* line 350, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li:hover .layout-text {
    display: block;
  }
}
/* line 359, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li .layout-text {
  position: absolute;
  bottom: 10%;
  left: 7%;
  color: #bbe0dd;
  z-index: 2;
  display: none;
  letter-spacing: 0.2em;
}
@media only screen and (max-width: 768px) {
  /* line 359, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li .layout-text {
    position: relative;
    bottom: auto;
    left: auto;
    display: block;
    padding-left: 5%;
    padding-bottom: 40px;
  }
}
/* line 375, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li .layout-text a {
  text-decoration: none;
}
/* line 378, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li .layout-text .ttl {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  /* line 378, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li .layout-text .ttl {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0em;
  }
}
/* line 392, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li .layout-text .date {
  font-size: 15px;
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 392, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li .layout-text .date {
    margin-top: 20px;
    letter-spacing: 0px;
  }
}
/* line 400, ../scss/top.scss */
.top-layout .top-layout-bottom .top-layout-list li .layout-text .read-more {
  font-size: 14px;
  font-weight: bold;
  padding-left: 25px;
}
@media only screen and (max-width: 768px) {
  /* line 400, ../scss/top.scss */
  .top-layout .top-layout-bottom .top-layout-list li .layout-text .read-more {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 412, ../scss/top.scss */
  .top-layout .layout-btn {
    width: 90%;
    margin: 0 auto;
  }
}

/* line 419, ../scss/top.scss */
.top-feature {
  margin-top: 0px;
}
@media only screen and (max-width: 768px) {
  /* line 419, ../scss/top.scss */
  .top-feature {
    margin-top: 0;
    background: #23283d;
  }
  /* line 425, ../scss/top.scss */
  .top-feature .feature-lay .feature-text {
    display: block;
  }
}
